*{
   margin: 0; padding: 0; 
   box-sizing: border-box;
   font-family: 'Exo 2', sans-serif;
   text-transform: capitalize;
   transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
a:hover{
    color: yellow;
}
#header{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}
/* .fa-hamburger{
    font-size: 4rem;
    z-index: 10000;
    color: rgb(255, 108, 71);
    cursor: pointer;
    display: inline;
} */
.logo{
    height: 5rem;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    margin-right: 4rem;
}
nav li a{
    color: white;
    font-size: 2rem;
}
#home{
    background: linear-gradient(0deg, darkgrey, black);
    position: relative;
    background-image: url("images/homground.jpg_fit=scale");
}

.homecontent h1{
    font-size: 5rem;
    font-family: 'lemonada',sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem;
    color: yellow;
}
.homecontent{
    padding-top: 200px;
}
.homecontent h2{
    color: orange;
    padding-bottom: 40px;
}
.homecontent p{
    font-size: 2rem;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 40%;
    background-repeat: no-repeat;
}
.video-container{
    position: relative;
    top: 0; left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    padding-top: 30px;
}
.homecontent a{
    padding: 20px;
    font-size: 30px;
    border-radius: 60px;
    background-color: orange;
    color: #000;
}
#aboutus{
    text-align: center;
    padding-top: 100px;
}
#aboutus h1{
    font-size: 5rem;
    font-family: 'lemonada',sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem;
    color: black;
    padding-bottom: 30px;
}
#aboutus h2{
    color: orange;
    padding-bottom: 40px;
    font-weight: bolder;
    font-size: xx-large;
}

#aboutus p{
    font-size: 20px;
    font-family: fantasy;
    width: 80%;
    padding-left: 180px;
}
#aboutus a{
    padding: 20px;
    font-size: 30px;
    border-radius: 60px;
    background-color: orange;
    color: #000;
}


@media(max-width:768px){
    #header nav{
        position: fixed;
        top: 0; left: 0;
        height: 100vh;
        width: 35rem;
        background: black;
        ;  
    }
    #header ul{
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }
    #header li{
        margin: 2rem 0;
        font-size: 3rem;
        border-radius: 5rem;
    }
    #header a:hover{
        padding-top: 1rem 5rem;
        color: black;
        background: yellow;
        border-radius: 4rem;
    }
}